$main-color : #7E57C2;
$light-gray-color : #f1f5f9;
$black-color : #787878;
$border-color : #dddddd;
$red-color : #db3737;
$light-red-color : #f36767;
$green-color : #7bcf7f;
$strong-black-color : #131314;
$super-light-indigo-color : #f8f8fb;
$black-gray-color : #7e7e7e;
$light-blue-color : #58b4d7;
$light-main-color: #8e68cf;
