$main-color : #7E57C2;
$light-gray-color : #f1f5f9;
$black-color : #545454;
$border-color : #e7e7e7;
$red-color : #db3737;
$light-red-color : #fd6d6d;
$green-color : #7ec77e;
$strong-black-color : #131314;
$super-light-indigo-color : #f8f8fb;
$black-gray-color : #7e7e7e;
