$main-color : #6dade1;
$light-gray-color : #f1f5f9;
$black-gray-color : #6c6c6c;
$border-color : #e7e7e7;
$red-color : #db3737;
$green-color : #7ec77e;




// // confirmed ++++++++++++++
$gray: #808182;
$light-gold : #bbae7f ;
$light-gray : #969696;
$blue: #2196f3;
$light-blue : #b8daf3;
$ultra-light-blue : #daefff;
$whitesmoke-blue : #edf2f5;
$dark-whitesmoke : #ebe8e8;
$dark-light-whitesmoke : #e2e2e2 ;
$dark: #78909c;

$black : #282830;
$orange : orange;
$light-red: #fd6d6d;
$red: #f35f5f;
$ultra-red-color : #f99595 ;
$green: #4caf50;
$yellow: #d4e157;
$gold: #bfb371;
$blue-toolbar: #3ca3f5;
$main-color : #2196f3;
// confirmed ++++++++++++++



$green-light-color : #42dacb;
$blue-medium-color: #b8daf3;
$blue-lighten-color: #e3f2fd; //#def3fb

$blue-cute-color : #00e5ff;

// i will use it in the link span && class / section && view profile


$components-border-color: #dee1e2;
$hr-color: #eae9e9;

.colored-background-taber-header {
  background-color: $gold !important;
}

.colored-background-taber-header-slider {
  background-color: $gold !important;
}


.whitesmoke-background{
  background-color: whitesmoke !important;
}

.whitesmoke-color{
color: whitesmoke !important;
}
