.text-link { 
    color : $black-color !important;
    text-decoration: none !important;
}

.link { 
    color : $black-color !important;  
}

.pointer { 
    cursor: pointer;
}
.clear { 
    clear: both;
}
