
input { 
color  : $black-color !important;
font-size : 14px !important;
}
.input-header {
    margin-left: 5px;
}

.textfield {
    margin-top: 5px !important;
    height: 55px;
}


.icon {
    cursor: pointer;
}

.icon::after {
    background-color: white !important;
}
