form {
    .inputs-holder {
        padding: 30px 30px 40px;
            .v-input--checkbox {
               margin-top : -5px !important;
               padding-top : 0px !important;
               .v-label { 
                font-size : 14px !important;
                color : $black-color !important;
               }
            }
    }
    .buttons {
        background: $super-light-indigo-color;
        padding: 20px 30px;
    }

    div.buttons > button:first-child { 
        background-color: $main-color!important;
        color: white !important;
    }

    div.buttons a { 
       margin-left: 10px;
    }
}
