form {
    .inputs-holder {
        padding: 30px 30px 40px;
            .v-input--checkbox {
               margin-top : -5px !important;
               padding-top : 0px !important;
               .v-label { 
                font-size : 14px !important;
                color : $black-color !important;
               }
            }
    }
    .buttons {
        background: $light-gray-color;
        padding: 20px 30px;
        button:nth-of-type(1) {
            background-color: $main-color!important;
            color: white !important;
        }
    }
}
