.success-message { 
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -200px;
    z-index: 999;
    background: $green-color;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: .3s ease all;
     visibility: hidden;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.show_success_message { 
    left: 20px;
    visibility: visible;
  
}
