
.v-list-item {
    min-height: 35px !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
    &:hover {
        background-color: $super-light-indigo-color;
    }
    a {
        @extend .text-link;
    }
}



.v-input--checkbox { 
    .v-input__slot { 
        box-shadow: none !important;
        border: none !important;
    }
       
}
.v-input__slot { 
    box-shadow: none !important;
    border: 1px solid $border-color;
}



.v-messages__message { 
    color :  $light-red-color !important;
}


.v-data-table { 
    color: $black-color !important;
    border-top: 1px solid #dfdfdf;
    border-radius: 0px !important;

    .v-input__slot { 
        border: none !important;
    }

    .profile-image { 
       border-radius: 5px;
       width: 50px;
    }

    .v-input--checkbox { 
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .v-icon { 
        font-size: 20px !important;
    }
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th, .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    color: $black-color !important;
    font-size: .8rem !important;

  
}


.v-chip.v-size--small { 
    border-radius : none !important
}
