.confirm-password-container {
    padding: 40px;

    .input-fields-holder { 
        padding: 0px !important;
        max-width: 500px;
    }
    p {
        max-width: 472px;
        font-size: 14px;
        margin: 10px 0px 20px 0px;
    }
}
