.home-page-container {
    padding: 50px;
    max-width: 700px;

    .date {
        text-align: right;
        font-size: 20px;
        font-weight: 500;
    }

    .home-link {
        border: 1px solid $border-color;
        padding: 8px 50px;
        border-radius: 5px;
        color: $black-gray-color;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 1px;
        background: aliceblue;
        cursor: pointer;
        &:hover {
            transition: 0.4s all;
            background-color: $main-color;
            color: whitesmoke;
        }
    }

    .disabled_link {
        cursor: auto;
        background: #e3e3e3;
        color: #b7b7b7;

        &:hover {
            background: #e3e3e3;
            color: #b7b7b7;
        }
    }
}
