.application-container {
    .main-holder {
        min-height: calc(100vh - 338px);

        position: relative;
        top: -40px;
        left: 30px;
        width: calc(100% - 60px);

        @media (max-width: 991px) {
            left: 20px;
            width: calc(100% - 40px);
        }

        .right-page-card {
            border-radius: 5px;
            background: white;
            box-shadow: 0 3px 1px -2px rgb(0 0 0 / 10%),
                0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%);

            float: left;

            width: calc(100% - 270px);
            max-width: 1200px;

            @media (max-width: 1000px) {
                float: none;
                width: 100%;
                margin-left: 0px;
                margin-top: 30px;
            }
        }

        .left-page-card {
            padding: 20px;
            border-radius: 5px;
            background: white;
            box-shadow: 0 3px 1px -2px rgb(0 0 0 / 10%),
                0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%);

            width: 250px;
            margin-right: 20px;
            float: left;
            @media (max-width: 1000px) {
                float: none;
            }

            div {
                cursor: pointer;
                display: block;
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 600;
                color: $black-color;
                .v-icon {
                    margin-right: 5px;
                }

                &:hover {
                    @extend .active_link;
                }
            }
        }

        .full-page-card {
            @extend .right-page-card;

            width: 100%;
            float: none;
        }

        // pages

        .admins-page {
            @extend .full-page-card;
            max-width: 1600px;
            padding: 30px 40px;
        }


        // no padding pages add padding 
        .page-padding { 
            padding: 30px 40px; 
        }
   

    }


}
