// image upload ++++
.upload-image-container {
    .file-uploader {
        padding: 20px 0px 20px 0px;
        img {
            width: 150px;
            height: 150px;
            border-radius: 5px;
        }

        .upload-holder {
            float: right;
            width: calc(100% - 170px);
            margin-top: 10px;

            .file-holder {
                display: inline-block;
            }
        }
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        @extend .icon-button-action;
    }


    .clear-button {
        button { 
            border :  1px solid $border-color ;
            margin-top: 20px;
            .v-icon { 
                margin-right: 5px;
            }
        }
     
    }
}

// image upload ++++
