// image upload ++++
.upload-image-container {
    .description , .image-paragraph { 
        @extend .label-text;
    }
    img {
        width: 150px;
        height: 150px;
        border-radius: 5px;
        margin: 20px 20px 20px 0px;
    }

    .upload-holder {
        display: inline-block;
        .file-holder { 
            display: inline-block;  
        }
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        &:hover {
            background-color: whitesmoke !important;
        }
        border: 1px solid $border-color;
        padding: 3px 10px;
        border-radius: 5px ;
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
    }

    .v-icon { 
        font-size: 18px !important;
    }
    .clear { 
        margin-top: 10px;
    }
}

// image upload ++++
