.success-message { 
    display: inline-block;
    position: fixed;
    top: 0px;
    right: -200px;
    z-index: 999;
    background: $green-color;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: .4s all;
     visibility: hidden;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.error-message { 
   @extend .success-message;
   background: $light-red-color;

}



.show_message { 
    right: 0px;
    visibility: visible;
  
}
